# Application
LOG_LEVEL='info'

# Database
DATABASE_URL='postgresql://[USERNAME]:[PASSWORD]@127.0.0.1:5432/db'

# BetterAuth
AUTH_URL='http://localhost:3000'
AUTH_SECRET=

# GitHub Oauth Provider
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Google Oauth Provider
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
